---
title: Contact
date: 2015-11-29 21:00:03
layout: contact
---
<!-- <h2>Let us help</h2>
<p>Lorem ipsum sdolor sic amit, bolero carles.</p> -->
<!-- BEGIN FORM-->
<!-- <form action="#" role="form"> -->
  <!-- <div class="form-group">
    <label for="contacts-name">Name</label>
    <input type="text" class="form-control" id="contacts-name">
  </div>
  <div class="form-group">
    <label for="contacts-email">Email</label>
    <input type="email" class="form-control" id="contacts-email">
  </div>
  <div class="form-group">
    <label for="contacts-message">Message</label>
    <textarea class="form-control" rows="5" id="contacts-message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
  <button type="button" class="btn btn-default">Cancel</button>
</form>
END FORM -->

<div class="row front-team">
  <ul class="list-unstyled">
    <li class="col-md-3">
      <div class="thumbnail">
          <img src='../metronic/assets/pages/img/social/pinkFROG.jpg'>
          <font size=5 color="#64d42c">
            <strong>pinkFROG</strong>
          </font>
        <p>Coffee & Juice Bar/Asian Fusion Food/Wine & Beer/2500SF/Free Wi-Fi/Stage for Culture Happenings/Destination Williamsburg Brooklyn</p>
        <ul class="social-icons social-icons-color">
      <li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/pinkfrogcafewilliamsburg/"></a></li>
      <!-- <li><a class="linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/shinong-ji-9b0947110/"></a></li> -->
        </div>
    </li>

    <li class="col-md-3">
      <div class="thumbnail">
          <img src='../metronic/assets/pages/img/social/nyhope.jpg'>
          <font size=5 color="#64d42c">
            <strong>NY Project Hope</strong>
          </font>
        <p>NY Project Hope is New York’s COVID-19 Emotional Support Helpline.</p>
        <ul class="social-icons social-icons-color">
      <!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li> -->
      <!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
        </div>
    </li>

    <li class="col-md-3">
      <div class="thumbnail">
          <img src='../metronic/assets/pages/img/social/nyculturesalon.jpg'>
          <font size=5 color="#64d42c">
            <strong>纽约文化沙龙</strong>
          </font>
        <p>交流让思维更深入，分享使见识更广阔。每个人都有自己感兴趣的话题和独到的见地，我希望建立这样一个平台，让思维的火花互相碰撞，使认识的疆域互相拓展。</p>
        <ul class="social-icons social-icons-color">
      <li><a class="youtube" data-original-title="Instagram" href="https://www.youtube.com/channel/UCWE-aBusAC3UauYLQna7JNQ/about"></a></li>
      <!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
        </div>
    </li>
  </ul>
</div>
