---
title: Member
date: 2015-11-17 01:00:51
layout: page
---
<button type="button" class="collapsible">A</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/ashi.jpg'>
						<font size=5 color="#64d42c">
							<strong>阿诗 | Ashi</strong>
						</font>
					<p>生活现场的喜剧演员，Mental Health Counseling在读。喜欢写作，跳舞，看树。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/shinong.j/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/alan.png'>
						<font size=5 color="#64d42c">
							<strong>Alan | Dongke Tu</strong>
						</font>
					<p>留美青年音乐人，指挥，当代与后现代哲学学者，艺术活动家，路标Pathmark常任讲师。2017年获得武汉大学哲学与经济双学士学位，2020年取得美国杜肯大学 (Duquesne University) 哲学硕士学位，目前就读于美国纽约州立大学石溪分校 (SUNY Stony Brook) 音乐博士项目，创作、表演与研究领域主要涵盖现当代交响音乐、声音艺术、实验、现象学与后现代、世界音乐等。</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li> -->
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">C</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/chengyao.jpg'>
						<font size=5 color="#64d42c">
							<strong>程杳 | Chengyao</strong>
						</font>
					<p>本科毕业于上海交大，博士毕业于新加坡国立，现在加州硅谷从事deep learning相关工作，去过三次火人节(Burning Man)。对实验型社会+共识社区+ 可持续建筑+数字游民等相关话题也都感兴趣。最近在探索筹备706纽约和湾区的活动/线下空间。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="jhttps://www.instagram.com/farawayao/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/clear.png'>
						<font size=5 color="#64d42c">
							<strong>Clear</strong>
						</font>
					<p>706纽约“心理”主题月 — 9/11 戏剧疗愈入门工作坊 分享者Clear：德州大学奥斯汀分校商科本科，纽约大学戏剧治疗硕士。塔罗占卜师，灵性表达者。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/heyitsclear/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">D</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/daniel.jpg'>
						<font size=5 color="#64d42c">
							<strong>Daniel</strong>
						</font>
					<p>来自台北，为本文案的作者。具有麻州州立大学 MBA 与 Business Analytics双硕士学位，喜爱学习，更喜欢挑战极限运动，如蹦极，滑翔伞。					</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li> -->
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">E</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/ermao.png'>
						<font size=5 color="#64d42c">
							<strong>二猫教授aka花总</strong>
						</font>
					<p>06纽约生活实验室 — 8/13-8/16沙发客 二猫教授aka花总：布朗大学人类学，喜欢走路>骑车>公交车>火车>地铁>开车</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/xinyu_kelly/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>


<button type="button" class="collapsible">F</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/feiyue.jpg'>
						<font size=5 color="#64d42c">
							<strong>Feiyue</strong>
						</font>
					<p>成都人，就读于麻省理工学院建筑学院，研究生念城市学（urbanism）方向。此前和朋友一块儿创建过沙丘研究所和空地实验室，也一直是沙丘研究所的主要创作者之一，关心的话题包括城市设计、公民文化、集体记忆、互联网平台等。对文学很着迷。</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
				<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">H</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/hedy.jpg'>
						<font size=5 color="#64d42c">
							<strong>Hedy</strong>
						</font>
					<p>Hedy，金融从业者，INFJ，心理学、社会学、哲学爱好者，易学和占星初学者，喜欢旅行、跳舞、烹饪和认识新朋友～</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/hedyts/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/helen.jpg'>
						<font size=5 color="#64d42c">
							<strong>Helen</strong>
						</font>
					<p>来纽约寻找passion的超龄儿童。业余stylist，翻唱能手，ktv里最亮的那颗星（不服来战），photo-taker（iphone only），创意小匠，取名大师。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/mohi_kwon/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/hg&zz.jpg'>
						<font size=5 color="#64d42c">
							<strong>黄瓜 & 贞贞 | Huang Gua & Zhen zhen</strong>
						</font>
					<p>黄瓜做creative dev的day job，贞贞在哥大教育学博士最后一年，两人一起合作做当代艺术，同时试运营他们自己的交互艺术和游戏设计工作室。最近几年着重做写作，做研究，做展览。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/zzywywyw/"></a></li>
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/zztheoinky/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/hannah.jpg'>
						<font size=5 color="#64d42c">
							<strong>Hannah</strong>
						</font>
					<p>记者，在纽约生活六年，本科和研究生均毕业于纽约大学。秉承对写作的热爱，两年前从数学/经济方向转读新闻，从此成为纸媒的拥趸。理科生中的文科生，文科生中的理科生，偶尔也能当个不唱歌不画画的艺术生。</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
				<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/henry.png'>
						<font size=5 color="#64d42c">
							<strong>Henry</strong>
						</font>
					<p>706纽约生活实验室 10/2-10/4沙发客，刘鹤晨Henry：文化人类学学生，暑假在上海快动迁的工人小区里做田野调查，收集各种被人丢弃的家当，跟拾荒者大叔学习怎么靠卖破烂赚钱。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/henryliu1001/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

		</ul>
	</div>
</div>

<button type="button" class="collapsible">J</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/jun.png'>
						<font size=5 color="#64d42c">
							<strong>Jun</strong>
						</font>
					<p>706纽约“心理”主题月 — 9/11 戏剧疗愈入门工作坊 分享者Jun：纽约大学戏剧治疗硕士，西雅图华盛顿大学心理系本科。个人身心灵成长的推行者和探索者。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/ycrabbit/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/junjie.png'>
						<font size=5 color="#64d42c">
							<strong>Junjie</strong>
						</font>
					<p>Junjie, a beginner, a leaner, a tutor, a volunteer, a runner, a yogi, an ordinary gay.</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/lumos_i/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/judy.jpg'>
						<font size=5 color="#64d42c">
							<strong>Judy</strong>
						</font>
					<p>纽约城市大学研究中心计算化学博士，从事生物分子抗药和光催化相关的研究。喜欢探索生活，喜欢旅游，喜欢结交江湖各路朋友，喜欢自省并记录博客。最近开始写连载小说。也开始刷题准备找工作。</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
				<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>

			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/juliette.jpg'>
						<font size=5 color="#64d42c">
							<strong>Juliette</strong>
						</font>
					<p>正经身份是社会学博士在读，不务正业的时候是个摄影师，但内心深处还是想考古。拥有巨大的好奇心，喜欢探索学习新鲜事物。希望706的到来可以让纽约这座城市更加有趣，并且激发出在纽约的年轻人的无限可能。</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
				<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">L</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				
				<div class="thumbnail">
					<img src='../metronic/assets/pages/img/people/lizhiwei.jpg'>
					<font size=5 color="#64d42c">
						<strong>李枝蔚 | Lychee</strong>
					</font>
					<p>706生活实验室 9/30-10/2沙发客，荔枝味，纽约706客厅发起人，热爱并需要打破边界、真诚交流的人类。纽约大学神经科学/认知科学博士刚毕业（失业），正在寻找什么样的工作可以让科技帮助美好生命。也在探索：身体觉察与学习/生命教育课程/亲密关系/科学社会学。目前山居科罗拉多某小镇并承担纽约朋友们的旅游接待任务。</p>
					<ul class="social-icons social-icons-color">
					<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
					<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
				</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/liuguo.jpg'>
						<font size=5 color="#64d42c">
							<strong>刘果 | Liu Guo</strong>
						</font>
					<p>Matters Lab联合创始人与技术负责人. 曾在北大学习生态学，在加州大学尔湾分校学习地球系统科学。原甲骨文高级软件工程师，706孵化“视角”杂志创始人。</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
				<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/lucy.jpg'>
						<font size=5 color="#64d42c">
							<strong>Lucy</strong>
						</font>
					<p>在新泽西生活了11年。会画点画，会点代码，对户外活动非常感兴趣，希望能够建造一个有生活感幸福感的共享空间。喜欢做白日梦，和朋友漫无目的的散步，每月捐一笔钱。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/seisai98/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">M</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/mao.jpg'>
						<font size=5 color="#64d42c">
							<strong>Mao</strong>
						</font>
					<p>MIT Sloan PhD 在读，此前一直学习和从事计算机专业。对跨学科研究感兴趣，希望能在706认识各行各业的朋友，一起探索如何更清晰地认识这个世界，如何运用所学更有效地参与公益。</p>
					<ul class="social-icons social-icons-color">
				<!-- <li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
				<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">R</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/rashel.png'>
						<font size=5 color="#64d42c">
							<strong>Rashel</strong>
						</font>
					<p>706纽约生活实验室 — 8/30-9/1 沙发客Rashel：无特定标签，大概是横跳专业户：以前整供应链，后来弄艺术展，近期在做游戏和探索ACG文化，并持续写作与编辑文本。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/rashelrrl/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>


<button type="button" class="collapsible">W</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/weiyi.jpg'>
						<font size=5 color="#64d42c">
							<strong>卫一 | Weiyi</strong>
						</font>
					<p>临床心理学博士在读，明年会在布鲁克林一家大学咨询中心实习。爱好跳舞、写作、观影、与人交流，对人文社科普遍有兴趣，本科时选修了许多外院系的课程。有自己的自媒体账号，会不定期更新读博生活感想及心理咨询相关文章。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/liao66193367/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/wendy.jpg'>
						<font size=5 color="#64d42c">
							<strong>温娉 | Wendy</strong>
						</font>
					<p>在费城附近的一所文理学院读数学，辅修认知科学和城市研究。喜欢观察研究人们的人格、情绪、决策，以及空间如何给人们带来不同的感受、促进人与人之间不同的交互模式。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/wendywen2000/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">X</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/xiaoyufei.jpg'>
						<font size=5 color="#64d42c">
							<strong>肖予飞</strong>
						</font>
					<p>706纽约生活实验室 - 8/13-8/15 沙发客 肖予飞：在minerva university学人机互动，喜欢柏林、徒步、自给自足社区生活方式、和新老朋友一起做大餐和画画。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/xy.fei/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>

<button type="button" class="collapsible">Y</button>
<div class="togglecontent">
	<div class="row front-team">
		<ul class="list-unstyled">
			<li class="col-md-3">
				<div class="thumbnail">
						<img src='../metronic/assets/pages/img/people/yinghuo.jpg'>
						<font size=5 color="#64d42c">
							<strong>荧惑 | Yinghuo</strong>
						</font>
					<p>刚上完NYU的准湾区电子工程师/码农，不务正业的Engineering Nerd，祖传看星星爱好者。对生活中绝大部分事物报以不紧不慢的好奇与热情，着迷于各种能带给人以广义上自由的技术与生活范式。热爱并永远期待与所有人真诚对话。</p>
					<ul class="social-icons social-icons-color">
				<li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/llllcf_/"></a></li>
				<!-- <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li> -->
					</div>
			</li>
		</ul>
	</div>
</div>



<style>
	.togglecontent {
	  padding: 0 18px;
	  background-color: white;
	  max-height: 0;
	  overflow: hidden;
	  transition: max-height 0.2s ease-out;
	}
	</style>
	
	<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;
	
	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var togglecontent = this.nextElementSibling;
		if (togglecontent.style.maxHeight){
		  togglecontent.style.maxHeight = null;
		} else {
		  togglecontent.style.maxHeight = togglecontent.scrollHeight + "px";
		}
	  });
	}
	</script>

<!-- BEGIN SIDEBAR & CONTENT -->
<!-- <div class="row margin-bottom-40"> -->
  <!-- BEGIN CONTENT -->
  <!-- <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30"> -->
	<!-- BEGIN INFO BLOCK -->               
	<!-- <div class="col-md-7"> -->
	  <!-- <p>Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p> -->
	  <!-- BEGIN LISTS -->
	  <!-- <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> Officia deserunt molliti</li>
		<li><i class="fa fa-check"></i> Consectetur adipiscing </li>
		<li><i class="fa fa-check"></i> Deserunt fpicia</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> Officia deserunt molliti</li>
		<li><i class="fa fa-check"></i> Consectetur adipiscing </li>
		<li><i class="fa fa-check"></i> Deserunt fpicia</li>
	      </ul>
	    </div>
	  </div> -->
	  <!-- END LISTS -->
	<!-- </div> -->
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<!-- <div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide"> -->
	    <!-- Carousel items -->
	    <!-- <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/pages/img/index-sliders/slide1.jpg'>
		<div class="carousel-caption">
		  <p>Excepturi sint occaecati cupiditate non provident</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide2.jpg'>
		<div class="carousel-caption">
		  <p>Ducimus qui blanditiis praesentium voluptatum</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide3.jpg'>
		<div class="carousel-caption">
		  <p>Ut non libero consectetur adipiscing elit magna</p>
		</div>
	      </div>
	    </div> -->
	    <!-- Carousel nav -->
	    <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div> -->
	<!-- END CAROUSEL -->
      <!-- </div> -->

      <!-- <div class="row margin-bottom-40"> -->
	<!-- BEGIN TESTIMONIALS -->
	<!-- <div class="col-md-7 testimonials-v1"> -->
	  <!-- <h2>Client Testimonials</h2>                
	  <div id="myCarousel1" class="carousel slide"> -->
	    <!-- Carousel items -->
	    <!-- <div class="carousel-inner">
	      <div class="active item">
		<blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met consectetur adipisicing sit amet do eiusmod dolore.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img1-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Lina Mars</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img5-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Kate Ford</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item"> -->
		<!-- <blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img2-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Jake Witson</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	    </div> -->
	    <!-- Carousel nav -->
	    <!-- <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
	    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
	  </div>
	</div> -->
	<!-- END TESTIMONIALS --> 

	<!-- BEGIN PROGRESS BAR -->
	<!-- <div class="col-md-5 front-skills">
	  <h2 class="block">Our Skills</h2>
	  <span>UI Design 90%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 90%;"></div>
	  </div>
	  <span>Wordpress CMS 60%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 60%;"></div>
	  </div>
	  <span>HTML/CSS &amp; JavaScript 75%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 75%;"></div>
	  </div>
	</div>                        -->
	<!-- END PROGRESS BAR -->
      <!-- </div> -->
<!-- <h2>A</h2>
	<div class="row front-team">
<ul class="list-unstyled">
	<li class="col-md-3">
	<div class="thumbnail">
			<img src='../metronic/assets/pages/img/people/img2-large.jpg'>
		<h3>
	<strong>Lina Doe</strong> 
	<small>Chief Executive Officer / CEO</small>
		</h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
		<ul class="social-icons social-icons-color">
	<li><a class="instagram" data-original-title="Instagram" href="javascript:;"></a></li>
	<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
		</ul>
	</div>
	</li>
	<li class="col-md-3">
	<div class="thumbnail">
			<img src='../metronic/assets/pages/img/people/img1-large.jpg'>
		<h3>
	<strong>Carles Puyol</strong> 
	<small>Chief Executive Officer / CEO</small>
		</h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
		<ul class="social-icons social-icons-color">
	<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
	<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
	<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
	<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
		</ul>
	</div>
	</li>
	<li class="col-md-3">
	<div class="thumbnail">
			<img src='../metronic/assets/pages/img/people/img3-large.jpg'>
		<h3>
	<strong>Andres Iniesta</strong> 
	<small>Chief Executive Officer / CEO</small>
		</h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
		<ul class="social-icons social-icons-color">
	<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
	<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
	<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
	<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
		</ul>
	</div>
	</li>
	<li class="col-md-3">
	<div class="thumbnail">
			<img src='../metronic/assets/pages/img/people/img5-large.jpg'>
		<h3>
	<strong>Jessica Alba</strong> 
	<small>Chief Executive Officer / CEO</small>
		</h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
		<ul class="social-icons social-icons-color">
	<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
	<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
	<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
	<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
		</ul>
	</div>
	</li>
</ul>            
	</div> -->

    <!-- </div>
  </div> -->
  <!-- END CONTENT -->
<!-- </div> -->
<!-- END SIDEBAR & CONTENT -->
